<p id="stock-level"></p>
<ul class="list" id="stock-levels">  
  {% for variant in product.variants %}
  	<li id="stock-level-{{ variant.id }}" style="display:none;">{{ variant.title }} - {{ variant.inventory_quantity }}</li>
  {% endfor %}
</ul>
<script type="text/javascript">
  var stock = [];
  {% for variant in product.variants %}
  stock[{{ variant.id }}] = {{ variant.inventory_quantity }};
  {% endfor %}
  this.addEventListener('change', this.onVariantChange);
  
  function onVariantChange() {
    var msg = "Sold out!";
    if(stock[variant] > 10){
      msg = "More than 10 available"
    } else {
      msg = "Only " + stock[variant] + " left!"
    
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const variant = urlParams.get('variant');
    
    var element = document.getElementById('stock-level')
    
    element.innerHTML = msg;
   }
</script>