<p id="stock-level"></p>
<ul class="list" id="stock-levels">  
  {% for variant in product.variants %}
  	<li id="stock-level-{{ variant.id }}" style="display:none;">{{ variant.title }} - {{ variant.inventory_quantity }}</li>
  {% endfor %}
</ul>
<script type="text/javascript">
  var stock = [];
  {% for variant in product.variants %}
  stock[{{ variant.id }}] = {{ variant.inventory_quantity }};
  {% endfor %}
  this.addEventListener('change', this.onVariantChange);
  
  function onVariantChange() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const variant = urlParams.get('variant');
    
    var element = document.getElementById('stock-level')
    console.log('content: ' + element);
    element.innerHTML = stock[variant.id].value
    
    /*
    let lis = document.getElementById('stock-levels').getElementsByTagName('li');
    
    lis.forEach(updateStockLevels);

    function updateStockLevels(listItem) {
      var element = document.getElementById('stock-level-' + variant.toString());
      //console.log(listItem.id + ' == ' + variant)
	  /*if(urlParams.has('variant') && listItem.id.toString() == ('stock-level-' + variant)) {
        console.log(element)
        element.style.display = null;
      } else {
        element.style.display = "none";
      }
      */
   }
</script>